[project]
	description = The official Vim repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hungwen Chien (hungwenchien)
[access "refs/for/refs/*"]
	read = group user/Hungwen Chien (hungwenchien)
	push = group user/Hungwen Chien (hungwenchien)
	label-Code-Review = -2..+2 group user/Hungwen Chien (hungwenchien)
	label-Verified = -1..+1 group user/Hungwen Chien (hungwenchien)
	rebase = group user/Hungwen Chien (hungwenchien)
	removeReviewer = group user/Hungwen Chien (hungwenchien)
	submit = group user/Hungwen Chien (hungwenchien)
[access "refs/heads/*"]
	read = group user/Hungwen Chien (hungwenchien)
	create = group user/Hungwen Chien (hungwenchien)
	push = +force group user/Hungwen Chien (hungwenchien)
	pushMerge = group user/Hungwen Chien (hungwenchien)
[access "refs/tags/*"]
	push = group user/Hungwen Chien (hungwenchien)
	push = +force group user/Hungwen Chien (hungwenchien)
